.container {
    border: 1px solid grey;
    border-radius: 6px;
    max-width: 550px;
    margin: auto;
    padding: auto;
}
ul{
    list-style: none;
    margin: auto;
    padding: auto;
    line-height: 18px;
}
.fig {
    font-size: 50px;
}
.unit {
    position: relative;
    font-size: 16px;
    top: -30px;
}
.img {
    margin-top: -30px;
    margin-right: -10px;
}
p {
    text-align: center;
}