.container {
    border: 1px solid grey;
    border-radius: 6px;
    max-width: 600px;
    margin: auto;
    padding: auto;
}
ul{
    list-style: none;
}
.fig {
    font-size: 50px;
}
.unit {
    font-size: 16px;
    position: relative;
    margin-top: -30px;
}
.img {
    margin-top: -30px;
    margin-right: -10px;
}